<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xirpl403122130.basicweb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KuisActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Kuis2Activity" />
        <activity android:name=".Kuis3Activity" />
        <activity android:name=".Kuis4Activity" />
        <activity android:name=".Kuis5Activity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>